
@{
    ViewBag.Title = "Movimientos";
}

<div id="registrarVenta" class="box box-warning">
    <div class="box-header">
        <h3 class="box-title">Realizar Venta</h3>
    </div>

    <div class="box-body">
        <form>
            <div class="form-group">
                <label>Cliente</label>

                @Html.DropDownList("Cliente", new SelectList(ViewBag.Clientes, "ClienteID", "NombresApellidos"), "---Seleccione-", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Nombre Producto</label>
                <div class="input-group input-group-sm">
                    <input type="text" readonly class="form-control nombre-producto" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-buscar-producto"> Buscar</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Precio Producto</label>
                <input type="text" class="form-control precio-producto" readonly />
            </div>
            <div class="form-group">
                <label>Cantidad</label>
                <input type="text" class="form-control cantidad-producto" />
            </div>
            <div class="form-group text-center">
                <button type="button" class="btn btn-success btn-agregar-producto">Agregar</button>
            </div>
        </form>

        <div class="detalle-venta">
            <!-- Mostrar un listado de lo que se va comprando-->
        </div>
    </div>

    <div class="box-footer">
        <button class="btn-primary btn-guardar">Registrar Venta</button>
    </div>
</div>


@Modal.CreateModal("Búsqueda de Productos", "BusquedaProductoPopupID", "app.RegistrarVentaView.MostrarProducto()")

@section scriptsAdicionales
{
    @*<script src="~/Scripts/mustache.min.js"></script>*@

    <script id="RegistrarVentaDetalle" type="x-tmpl-mustache">
        <table class="table">
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>SubTotal</th>
            </tr>
            {{#Detalle}}
            <tr>
                <td>{{Nombre}}</td>
                <td>{{PrecioMenor}}</td>
                <td>{{Cantidad}}</td>
                <td>{{SubTotal}}</td>
            </tr>
            {{/Detalle}}
        </table>
    </script>

    <script>
        app.RegistrarVentaView.Init();
    </script>
}

