
@{
    ViewBag.Title = "ConsultaProductosStock";
}

 
<div class="ConsultaProductosStock">
    <input class="Nombre" />
    <input class="Stock" />
    <button type="submit" class="Buscar">Buscar</button>
</div>

 

<div id="ListaProductos"></div>

 
<script>
    
    app.ConsultaProductoStockView.Init();
</script>


 